################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/ChemicalCompoundHelper/.vs
/src/ChemicalCompoundHelperTests/.vs
